.header{
    display: flex;
    width: 100%;
    align-content: center;
    text-align: center;
    color: white;
    justify-content: right;
    background-color: black;
}

.navbtn{
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.href{
    text-decoration: none;
    color: white;
}