.form-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background-color: ghostwhite;
    border: 3px dashed black;
    border-radius: 5px;
    width: 50%;
    margin: 25%;
    padding: 2px;
}

.submit-btn{
    width: 100%;
    background-color: black;
    color: red;
    border: 2px dashed red;
}